@{
    ViewBag.Title = "联系方式";
}
<h2>@ViewBag.Title.</h2>
<style>
    .body-content {
        padding-top: 50px;
    }
</style>
<address>
    <strong>邮箱:</strong>   <a href="chaohui_shen@163.com">chaohui_shen@163.com</a><br />
    <strong>微信:</strong> 
    <img style="width: 150px;" src="~/images/orcode.png" />
</address>