################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/giftcard/bin
/.vs
/AllTrustUs.Data/bin/Debug
/AllTrustUs.Data/obj/Debug
/ConsoleTest/bin/Debug
/ConsoleTest/obj/Debug
